body {
    position: relative;
    background-image: url('images/tile.jpg');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body > header {
    font-size: 5em;
    font-family: cursive;
    text-align: center;
}


/* add a task area */
#addTask {
    background-image: url('images/formbg.jpg');
    width: 650px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}

textarea {
    position: absolute;
    background-color: transparent;
    width: 550px;
    height: 100px;
    top: 12px;
    left: 80px;
    font-size: 1.7em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#dateInput {
    border: 2px rgb(92, 92, 255) solid;
    font-size: 1.7em;
    position: absolute;
    top: 145px;
    left: 80px;
}

#timeInput {
    border: 2px rgb(92, 92, 255) solid;
    font-size: 1.7em;
    position: absolute;
    bottom: 5px;
    left: 80px;
}

#addTask > button {
    background-color: white;
    border-radius: 5px;
    font-size: 1.5em;
    width: 100px;
    padding: 5px;
    border: 2px rgb(92, 92, 255) solid;
    font-weight: bold;
    cursor: pointer;
}

#addBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#resetBtn {
    position: absolute;
    bottom: 10px;
    right: 120px;
}

#addTask label {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}


/* saved tasks area (notes) */
#notesArea {
    width: 1200px;
    /*if inner scroll is prefered */
    /* height: 250px;
    width: 1220px; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 0 auto;
}

.note {
    position: relative;
    background-image: url(images/notebg.png);
    height: 250px;
    width: 200px;
}

.note:hover > button {
    visibility: visible;
}

.noteText {
    pointer-events: none;
    position: absolute;
    top: 45px;
    left: 15px;
    height: 150px;
    width: 150px;
    flex-wrap: wrap;
    overflow: auto;
}

.note > button {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 25px;
    color: black;
    background: none;
    font-weight: bolder;
    border: none;
    outline: none;
    font-size: 1.5em;
    cursor: pointer;
}

.finishTime {
    pointer-events: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
}


/* popups */
.popup {
    width: 550px;
    visibility: hidden;
    border: 2px solid rgb(92, 92, 255);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 1.5em;
}
.popup > header {
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    background-color: black;
    color: rgb(254, 255, 153);
}


/* remarks */
.remark {
    visibility: hidden;
    color: red;
    font-weight: bolder;
    font-size: 12px;
    position: absolute;
    left: 80px;
}